/**
============================================
; Title: nodebucket
; File Name: home.component.css
; Author: Professor Krasso
; Date: 16 August 2022
; Modified By: Laura Kendl
; Description: "nodebucket is task management software designed to simplify the way you
; create, track, edit, and delete time sensitive material. This is a full-stack
; MEAN (MongoDB, Express, Angular, and Node.js) application, utilizing the concepts that
; were taught in previous courses. MongoDB will be used for data persistence. Node.js
; will be used for manipulating and returning saved records, SoapUI for unit testing,
; and Angular for user interactions" (Krasso, 2022).
===========================================
*/

.main-welcome {
  margin-top: 30px;
}

.title {
  text-align: center;
  font-weight: lighter;
}

.subtitle {
  text-align: center;
  font-size: 14px;
}

.task-container {
  min-width: 50%;
  max-width: 75%;
  margin: 0 auto;
}

.task-column {
  border: 1px solid #ccc;
  min-height: 68px;
  min-width: 50%;
  background: #FFF;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.task-card {
  cursor: move;
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  min-height: 68px;
  font-size: 14px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
