<!--
============================================
; Title: nodebucket
; File Name: home.component.html
; Author: Professor Krasso
; Date: 16 August 2022
; Modified By: Laura Kendl
; Description: "nodebucket is task management software designed to simplify the way you
; create, track, edit, and delete time sensitive material. This is a full-stack
; MEAN (MongoDB, Express, Angular, and Node.js) application, utilizing the concepts that
; were taught in previous courses. MongoDB will be used for data persistence. Node.js
; will be used for manipulating and returning saved records, SoapUI for unit testing,
; and Angular for user interactions" (Krasso, 2022).
===========================================
-->

<div fxLayout="column" class="main-welcome">

  <mat-card fxFlex class="page-title mat-elevation-z0">
    Task Management
  </mat-card>

  <div fxFlex>

    <mat-card class="welcome-message mat-elevation-z0">
    <h1 class="title">
      Welcome to <strong>nodebucket</strong>, {{ sessionName }}!
    </h1>
    </mat-card>

    <h1 class="title">
    <span class="subtitle">
      Ready to make life a little simpler? It's easy!
      <br />
      Just enter your tasks below. Drag your <b>ToDo</b> tasks to the <b>Done</b> column when finished!
    </span>
    </h1>

  <div class="directions">
    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon>add_circle</mat-icon>
        <h3 matLine> Create a ToDo task in the field below </h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>drag_indicator</mat-icon>
        <h3 matLine> Drag your finished tasks to the Done column </h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>delete</mat-icon>
        <h3 matLine> Click the delete button to remove tasks </h3>
      </mat-list-item>
    </mat-list>
  </div>





</div>

<br /> <br />

<div fxFlex>
  <mat-card-title class="create-task-title">Create a Task</mat-card-title>
  <div class="task-container mat-elevation-z4" fxLayout="column">
    <mat-card>
      <form [formGroup]="taskForm" (ngSubmit)="createTask(); taskForm.reset()">
        <mat-form-field appearance="fill" style="width: 100%">

          <input
            matInput
            name="task"
            formControlName="task"
            placeholder="Enter a task name..." />

            <!-- Create a button with a suffix to place at end of field. -->
            <button type="submit" [disabled]="!taskForm.valid" mat-icon-button matSuffix matTooltip="Add to ToDo list" matTooltipPosition="above">
              <mat-icon color="primary" style="width: 36px; height: 36px; font-size: 36px;" matSuffix>add_circle</mat-icon>
            </button>

        </mat-form-field>

        <mat-error *ngIf="taskForm.controls['task'].hasError('required') && taskForm.controls['task'].touched">
          Task is a required field.
        </mat-error>

        <mat-error *ngIf="taskForm.controls['task'].hasError('minlength') && taskForm.controls['task'].touched">
          The task field must be at least 3 characters in length.
        </mat-error>

        <mat-error *ngIf="taskForm.controls['task'].hasError('maxlength') && taskForm.controls['task'].touched">
          The task field cannot exceed 35 characters in length.
        </mat-error>
      </form>
    </mat-card>
  </div>
</div>

<br /> <br />

<!-- Next columns -->

<div fxFlex>

  <div fxLayout="row" fxLayoutGap="15px" class="task-container">

    <!-- first row -->
    <div fxFlex>

      <mat-card class="mat-elevation-z0">
        <mat-card-title>ToDo</mat-card-title>

        <mat-card-content>

          <!-- todo -->
          <div
            fxLayout="column"
            fxLayoutGap="10px"
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList]"
            (cdkDropListDropped)="drop($event)"
            class="task-column">

            <!-- Add qualifier cdkDrag to make section drag. Will be applied to all cards due to for loop. -->
            <div *ngFor="let item of todo" cdkDrag>

              <mat-card class="mat-elevation-z0 task-card">
                  <mat-grid-list cols="8" rowHeight="4em">
                    <mat-grid-tile col="1" style="margin-left: -5%;">
                      <mat-icon matListIcon>drag_indicator</mat-icon>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="6">{{ item.text }}</mat-grid-tile>
                    <mat-grid-tile colspan="1">
                      <button mat-icon-button (click)="deleteTask(item._id)" matTooltip="Delete task" matTooltipPosition="above" style="margin-left: 30%;">
                      <mat-icon color="accent">delete</mat-icon>
                     </button>
                    </mat-grid-tile>
                  </mat-grid-list>
                </mat-card>

            </div>
            <!-- End of the for loop. -->
          </div>

        </mat-card-content>
      </mat-card>
    </div>
    <!-- End of the first row. -->

    <!-- Start of the second row. -->
    <div fxFlex>
      <mat-card class="mat-elevation-z0">

        <mat-card-title>Done</mat-card-title>

        <mat-card-content>

          <!-- Done -->
          <div class="task-column"
            fxLayout="column"
            fxLayoutGap="10px"
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList]"
            (cdkDropListDropped)="drop($event)"
            class="task-column">

            <!-- Add qualifier cdkDrag to make section drag. Will be applied to all cards due to for loop. -->
            <div *ngFor="let item of done" cdkDrag>

              <mat-card class="mat-elevation-z0 task-card">
                <mat-grid-list cols="8" rowHeight="4em">
                  <mat-grid-tile col="1" style="margin-left: -5%;">
                    <mat-icon matListIcon>drag_indicator</mat-icon>
                  </mat-grid-tile>
                  <mat-grid-tile colspan="6">{{ item.text }}</mat-grid-tile>
                  <mat-grid-tile colspan="1">
                    <button mat-icon-button (click)="deleteTask(item._id)" matTooltip="Delete task" matTooltipPosition="above" style="margin-left: 30%;">
                    <mat-icon color="accent">delete</mat-icon>
                   </button>
                  </mat-grid-tile>
                </mat-grid-list>
              </mat-card>

            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- End of second row-->
  </div>
</div>

<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>help</mat-icon>
    </mat-panel-title>
    <mat-panel-description>
      Questions?
    </mat-panel-description>
  </mat-expansion-panel-header>
  <span class="subtitle">
    <button mat-raised-button color="accent" routerLink="/contact">Contact Us</button>
  </span>
</mat-expansion-panel>


<br />
</div>
