<!--
============================================
; Title: nodebucket
; File Name: contact.component.html
; Author: Professor Krasso
; Date: 23 August 2022
; Modified By: Laura Kendl
; Description: "nodebucket is task management software designed to simplify the way you
; create, track, edit, and delete time sensitive material. This is a full-stack
; MEAN (MongoDB, Express, Angular, and Node.js) application, utilizing the concepts that
; were taught in previous courses. MongoDB will be used for data persistence. Node.js
; will be used for manipulating and returning saved records, SoapUI for unit testing,
; and Angular for user interactions" (Krasso, 2022).
===========================================
-->

<mat-card-title class="text-center title gold">Contact Us</mat-card-title>

<div fxLayout="row wrap" class="contact-container">

  <div fxFlex class="text-center">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>

      <mat-card-content>
        <p>Rural Rt. 6</p>
        <p>Honesdale</p>
        <p>PA 18431</p>
      </mat-card-content>
  </div>

  <div fxFlex class="text-center">
      <mat-card-title class="card-title-icon icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <mat-card-content>
       <p>Phone Number: (000) 123-4567</p>
      </mat-card-content>
  </div>

</div>
