/**
============================================
; Title: nodebucket
; File Name: login.component.css
; Author: Professor Krasso
; Date: 16 August 2022
; Modified By: Laura Kendl
; Description: "nodebucket is task management software designed to simplify the way you
; create, track, edit, and delete time sensitive material. This is a full-stack
; MEAN (MongoDB, Express, Angular, and Node.js) application, utilizing the concepts that
; were taught in previous courses. MongoDB will be used for data persistence. Node.js
; will be used for manipulating and returning saved records, SoapUI for unit testing,
; and Angular for user interactions" (Krasso, 2022).
===========================================
*/

body {
  background: linear-gradient(180deg, #000 30%, #740001 0%, #740001 100%);
}

.logo-container {
  width: 37%;
  min-width: 435px;
  margin: 160px auto auto auto; /* T R B L */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
  height: 100px;
}

.logo-img-container {
  min-width: 56px;
  max-width: 100px;
  margin-right: -30px;
}

.logo {
  max-height: 60px;
  margin-top: 0px;
}


.login-container {
  width: 35%;
  min-width: 400px;
  margin: -15px auto;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-title {
  text-align: center;
  font-size: 2.5em;
  font-weight: lighter;
  padding: 20px;
  color: #000;
  line-height: 1.5;
}

.login-subtitle {
  text-align: center;
  font-weight: lighter;
  padding: 5px;
  color: #D6A800;
}

.form-container {
  width: 100%;
}

.mat-card {
  padding: 0;
}

.mat-card-header {
  color: white;
}

.mat-card-content {
  padding: 20px;
}

.mat-card-actions {
  padding: 25px;
}

.btn-lg {
  height: 36px;
}
