/**
============================================
; Title: nodebucket
; File Name: home.component.css
; Author: Professor Krasso
; Date: 16 August 2022
; Modified By: Laura Kendl
; Description: "nodebucket is task management software designed to simplify the way you
; create, track, edit, and delete time sensitive material. This is a full-stack
; MEAN (MongoDB, Express, Angular, and Node.js) application, utilizing the concepts that
; were taught in previous courses. MongoDB will be used for data persistence. Node.js
; will be used for manipulating and returning saved records, SoapUI for unit testing,
; and Angular for user interactions" (Krasso, 2022).
===========================================
*/

.square-border {
  border-radius: 0px 0px 0px 0px;
}

.main-welcome {
  margin-top: 30px;
}

.title {
  text-align: center;
  font-weight: 300;
  line-height: 1.5;
}

.welcome-message{
  margin: -30px -16px 30px -16px;
  background-color: #740001;
  color: #FFF;
}

.welcome-message :hover{
  transform: scale(1.1);
  transition: 100ms ease-in;
}

.directions {
  margin: auto auto;
}

.italic {
  font-style: italic;
}

.subtitle {
  text-align: center;
  font-size: 14px;
}

.create-task-title {
  margin: 0 0 10px 13%;
}

.task-container {
  width: 75%;
  margin: 0 auto;
}

.task-column {
  border: 1px solid #ccc;
  min-height: 68px;
  min-width: 200px;
  background: #F5F5F5;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  padding: 3px;
}

.task-card {
  cursor: move;
  border: solid 1px #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

mat-expansion-panel {
  margin: 30px auto 0 auto;
  width: 25%;
  text-align: center;
  align-items: center;
}

