/**
============================================
; Title: nodebucket
; File Name: styles.css
; Author: Professor Krasso
; Date: 16 August 2022
; Modified By: Laura Kendl
; Description: "nodebucket is task management software designed to simplify the way you
; create, track, edit, and delete time sensitive material. This is a full-stack
; MEAN (MongoDB, Express, Angular, and Node.js) application, utilizing the concepts that
; were taught in previous courses. MongoDB will be used for data persistence. Node.js
; will be used for manipulating and returning saved records, SoapUI for unit testing,
; and Angular for user interactions" (Krasso, 2022).
===========================================
*/

@import "./theme";

@include mat-core();

html, body {
  height: 100%;
}

body {
  // background: linear-gradient(to bottom, black 50%, red 50%);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.logo {
  margin-top: 5px;
}

.toolbar {
  margin-top: 15px;
  height: 50px;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  z-index: 999;
}

.nav-menu {
  margin: 5px;
}

.content-container {
  margin: 25px auto auto;
  width: 75%;
}

.page-title {
  background-color: #000;
  color: #FFF;
  text-align: center;
  font-size: 2em;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-transform: lowercase;
  margin: -45px -16px 30px -16px; // T R B L

}

.gold {
  color: #eeba30;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
