/**
============================================
; Title: nodebucket
; File Name: base-layout.component.css
; Author: Professor Krasso
; Date: 16 August 2022
; Modified By: Laura Kendl
; Description: "nodebucket is task management software designed to simplify the way you
; create, track, edit, and delete time sensitive material. This is a full-stack
; MEAN (MongoDB, Express, Angular, and Node.js) application, utilizing the concepts that
; were taught in previous courses. MongoDB will be used for data persistence. Node.js
; will be used for manipulating and returning saved records, SoapUI for unit testing,
; and Angular for user interactions" (Krasso, 2022).
===========================================
*/

body {
  background-color: #740001!important;
}

.nav-menu {
  width: 100%;
  /* margin: 0 auto; */
  text-align: center;
}

.logo {
  margin-left: 75px;
  font-size: 24px;
  font-weight: lighter;
}

.links {
  margin: 25px 15px 0px;
}

.navbar-container {
  padding: 5px;
}

.navbar-link {
  font-size: 24px;
  font-weight: lighter;
}

#profile-container {
  float: right;
}

.main-content {
  padding-left: 30px;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
}

.bu-link {
  text-decoration: none;
}

.bu-link:hover {
  text-decoration: underline;
}


/*

.logo {
  margin-top: 25px;
  margin-left: -10px;
  text-align: center;
  z-index: 999;
  background-color: #FFF;
  padding-top: 8px;
  width: 70px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 3px 3px 5px #0E1A40;
}

.links {
  margin: 25px 15px 0px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}

.mat-card-title {
  padding-top: 20px;
  text-align: center;
}

.content-container {
  margin-bottom: 50px;
}  */
