/**
============================================
; Title: nodebucket
; File Name: base-layout.component.css
; Author: Professor Krasso
; Date: 16 August 2022
; Modified By: Laura Kendl
; Description: "nodebucket is task management software designed to simplify the way you
; create, track, edit, and delete time sensitive material. This is a full-stack
; MEAN (MongoDB, Express, Angular, and Node.js) application, utilizing the concepts that
; were taught in previous courses. MongoDB will be used for data persistence. Node.js
; will be used for manipulating and returning saved records, SoapUI for unit testing,
; and Angular for user interactions" (Krasso, 2022).
===========================================
*/

.page-container {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(180deg, #000 10%, #740001 0%, #740001 100%);
}

.top-bar {
  width: 100%;
  height: 80px;
}

.nav-bar {
  background-color: #eeba30;
  color: #FFF;
  margin-top: 10px;
}

.logo-container {
  position: absolute;
  margin-left: 8vmax;
  margin-top: 25px;
  z-index: 999;
  text-align: center;
  filter: drop-shadow(2px 2px 2px black);
}

.logo {
  border: #000 1px solid;
  max-width: 50px;
  margin-top: 25px;
}

.logo_text-container {
  position: absolute;
  margin-top: 50px;
  margin-left: 12vmax;
}

.logo_text {
  height: 45px;
}

.links {
  margin: 0 0 0 12vmax; /* T R B L */
}

.navbar-link {
  font-size: 24px;
  font-weight: lighter;
}

#profile-container {
  position: absolute;
  margin-left: 80%;
  margin-top: 40px;
}

.content-container {
  margin-bottom: 100px;
}

.main-content {
  padding-left: 30px;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
}

.bu-link {
  text-decoration: none;
  color: #eeba30
}

.bu-link:hover {
  text-decoration: underline;
}
