<!--
============================================
; Title: nodebucket
; File Name: base-layout.component.html
; Author: Professor Krasso
; Date: 16 August 2022
; Modified By: Laura Kendl
; Description: "nodebucket is task management software designed to simplify the way you
; create, track, edit, and delete time sensitive material. This is a full-stack
; MEAN (MongoDB, Express, Angular, and Node.js) application, utilizing the concepts that
; were taught in previous courses. MongoDB will be used for data persistence. Node.js
; will be used for manipulating and returning saved records, SoapUI for unit testing,
; and Angular for user interactions" (Krasso, 2022).
===========================================
-->

<body>

<div class="page-container">

<div class="top-bar" fxLayout="row" fxLayoutGap="20" fxLayout.xs="column">

  <mat-toolbar color="primary">
    <mat-toolbar-row>

        <!-- Logo -->
        <div class="logo-container" fxFlex="20">
          <a href="/"><img src="./assets/logo.png" class="logo" /></a>
        </div>

        <!-- Profile Menu -->
        <div id="profile-container">
          <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="User profile menu">
            <mat-icon>perm_identity</mat-icon>
          </button>
        </div>

          <mat-menu #profileMenu>
            <p style="padding: 10px; font-size: 16px; font-weight: lighter;">Logged in as {{ sessionName }}</p>
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Log out</span>
            </button>
          </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="nav-bar" fxLayout="row" fxLayoutGap="20" fxLayout.xs="column">
  <!-- Navigation -->
  <div class="links" fxFlex="70">
    <div fxLayout="row wrap" fxLayoutAlign="start">

      <button mat-button routerLink="/">Home</button>
      <button mat-button routerLink="/about">About</button>
      <button mat-button routerLink="/contact">Contact Us</button>

    </div>
  </div>
</div>

  <br />

  <!-- Main Content -->
  <div fxLayout="row wrap">
    <div fxFlex>
      <mat-card class="content-container" color="accent, 50">

        <mat-card-content>
          <router-outlet></router-outlet>
        </mat-card-content>

      </mat-card>
    </div>
  </div>

  <br />

  <!-- Main Footer -->
  <div fxLayout="row wrap">
    <div fxFlex>
      <footer class="footer">
        <mat-toolbar class="footer-content" color="primary">
          <p>
            &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
          </p>
        </mat-toolbar>
      </footer>
    </div>
  </div>

</div>

</body>
