/**
============================================
; Title: nodebucket
; File Name: about.component.css
; Author: Professor Krasso
; Date: 23 August 2022
; Modified By: Laura Kendl
; Description: "nodebucket is task management software designed to simplify the way you
; create, track, edit, and delete time sensitive material. This is a full-stack
; MEAN (MongoDB, Express, Angular, and Node.js) application, utilizing the concepts that
; were taught in previous courses. MongoDB will be used for data persistence. Node.js
; will be used for manipulating and returning saved records, SoapUI for unit testing,
; and Angular for user interactions" (Krasso, 2022).
===========================================
*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.title {
  margin: 30px auto 40px;
}

.about-img-container {
  margin: auto;
}

.about-img {
  max-width: 200px;
  padding: 5px;
}

.bio-img {
  max-width: 100%;
  margin: 15px 0 0;
}

.about-txt-container {
  margin-top: 20px;
  max-width: 70%;
  margin: auto auto;
}

p {
  text-indent: 10%;
}

.text {
  line-height: 1.9;
}
