/**
============================================
; Title: nodebucket
; File Name: about.component.css
; Author: Professor Krasso
; Date: 23 August 2022
; Modified By: Laura Kendl
; Description: "nodebucket is task management software designed to simplify the way you
; create, track, edit, and delete time sensitive material. This is a full-stack
; MEAN (MongoDB, Express, Angular, and Node.js) application, utilizing the concepts that
; were taught in previous courses. MongoDB will be used for data persistence. Node.js
; will be used for manipulating and returning saved records, SoapUI for unit testing,
; and Angular for user interactions" (Krasso, 2022).
; Resources:
; Baahubali: https://codepen.io/baahubali92/pen/BvdmLo (Testimonial)
; Webfx: https://www.webfx.com/blog/web-design/circular-images-css/
; (Circular Images with CSS)
; Stackoverflow: https://stackoverflow.com/questions/54508374/how-can-i-position-an-icon-over-an-image (How can I position an icon over an image?)
===========================================
*/

.about-container {
  margin: auto auto;
}

.about-txt-container {
  width: 80%;
  margin: auto auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.title {
  margin: 30px auto 40px;
}

.about-img-container {
  margin: auto;
}

.about-logo {
  max-width: 100px;
  padding: 5px;
}

.about-img {
  max-width: 100%;
  padding: 5px;
}

.bio-img {
  max-width: 100%;
  margin: 15px 0 0;
}

p {
  text-indent: 10%;
}

.text {
  line-height: 1.9;
}


/* Testimonials */

.heading {
  text-align: center;
  color: #454343;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
  z-index: 999;
}
.white-heading{
  color: #ffffff;
}
.heading:after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  height: 40px;
  width: 180px;
  border-radius: 4px;
  transform: translateX(-50%);
  background: none;
  background-repeat: no-repeat;
  background-position: center;
}
.white-heading:after {
  background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
  background-repeat: no-repeat;
  background-position: center;
}

.heading span {
  font-size: 18px;
  display: block;
  font-weight: 500;
}
.white-heading span {
  color: #ffffff;
}

/*-----Testimonial-------*/

.testimonial:after {
  position: absolute;
  top: -0 !important;
  left: 0;
  content: " ";
  background: none;
  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  float: left;
  z-index: 99;
}

.testimonial {
  min-height: 375px;
  width: 75%;
  margin: auto auto;
  position: relative;
  background: url(../../../assets/hogwarts.jpg), linear-gradient(0deg, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0.7));
  background-blend-mode: overlay;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
}

.testimonial4_header{
top: 0;
left: 0;
bottom: 0;
width: 550px;
display: block;
margin: 30px auto;
text-align: center;
position: relative;
}
.testimonial4_header h4{
color: #ffffff;
font-size: 30px;
font-weight: 600;
position: relative;
letter-spacing: 1px;
text-transform: uppercase;
}

.testimonial4_slide{
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 70%;
margin: auto auto;
padding: 20px;
position: relative;
text-align: center;
background:linear-gradient(0deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8));
}

.circle-portrait {
  position: relative;
  width: 136px;
  height: 136px;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
}

.circle-portrait img {
  width: 100%;
  height: auto;
  display: block;
}

.circle-portrait .fa-asterisk {
  position: absolute;
  top: 10px;
  right: 28px;
}

.fa-asterisk {
  color: #e29413;
}

.testimonial4_slide p {
  color: #ffffff;
  font-size: 14px;
  line-height: 2;
  margin: 20px 0 20px 0;
  padding: 5px;
}
.testimonial4_slide h4 {
color: #ffffff;
font-size: 22px;
}
