<!--
============================================
; Title: nodebucket
; File Name: about.component.html
; Author: Professor Krasso
; Date: 16 August 2022
; Modified By: Laura Kendl
; Description: "nodebucket is task management software designed to simplify the way you
; create, track, edit, and delete time sensitive material. This is a full-stack
; MEAN (MongoDB, Express, Angular, and Node.js) application, utilizing the concepts that
; were taught in previous courses. MongoDB will be used for data persistence. Node.js
; will be used for manipulating and returning saved records, SoapUI for unit testing,
; and Angular for user interactions" (Krasso, 2022).
===========================================
-->

<div fxLayout="row wrap" class="about-container">

  <div fxFlex class="about-txt-container">

    <mat-card-title class="text-center title gold">About nodebucket</mat-card-title>

    <div class="about-img-container text-center">
      <img src="./assets/logo.png" class="about-img" />
    </div>

    <mat-card-title class="text-center title gold">Dwight Schrute</mat-card-title>

    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus semper eget duis at tellus at urna condimentum mattis. Pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum. Tempus urna et pharetra pharetra massa massa ultricies mi. Fermentum iaculis eu non diam phasellus vestibulum lorem sed risus. Id diam maecenas ultricies mi eget mauris pharetra. Venenatis a condimentum vitae sapien pellentesque habitant morbi. Vel turpis nunc eget lorem dolor sed. Etiam sit amet nisl purus in mollis nunc. Cum sociis natoque penatibus et magnis. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. Etiam dignissim diam quis enim lobortis. Velit ut tortor pretium viverra suspendisse. Justo donec enim diam vulputate. Ut placerat orci nulla pellentesque dignissim enim sit. Tincidunt dui ut ornare lectus sit amet est. Mattis pellentesque id nibh tortor id aliquet lectus proin.
    </p>

    <div class="text-center">
      <strong>
        TITLE
      </strong>
    </div>
    <div class="about-img-container text-center">


    </div>
    <div class="text-center">
      <em>
        (SOURCE)
      </em>
    </div>

    <br />
    <div class="text-center">
    Questions or comments?
    </div>
    <br />
    <div class="text-center">
      <strong>
        Thank you for visiting nodebucket!
      </strong>
    </div>

    <br /><br />
  </div>
</div>
